* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: wrap;
  }

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }


/* --------- body here ---------- */


/* --------------- header here ---------------- */


/* nav */


/* hero */



/* ---------------- main here -------------- */
/* section1 */




/* section 2 */

#section2 {
    margin-top: 2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#about-ema {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 5fr 1fr;
    margin-bottom: 4rem;
    border-radius: 25px;
}

#item1-headline {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    grid-column-start: 2;
    grid-column-end: span 3;
    align-content: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#item1-headline h2 {
    justify-self: center;
    align-self: center; /* doesnt work! */
    word-spacing: 0.4em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(131,58,180, 0.788);
}

#item2-list {
 /*   background-color: #fc466b; */
    grid-column-start: 2;
    grid-row-start: span 2;
    justify-items: center;
  /*  line-height: 2; */
    padding-top: 1rem;
    border-bottom-left-radius: 25px;
 /*   background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(252,70,107,1) 10%); */
    background: rgb(131,58,180);
    background: linear-gradient(0deg, rgba(131,58,180,1) 0%, rgba(252,70,107,0.9332107843137255) 12%, rgba(252, 70, 106, 0.404) 100%);
}

#item2-list h3 {
    color: rgb(111, 30, 165)
}

#item2-list ul {
  /*  align-self: center;  doesnt work. wtf */
    list-style-type:disc;
    line-break: strict; /* does it do anything? */
    padding-left: 2rem;
    margin-left: 1rem;
    margin-right: 1.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: justify; /*to block text */
 /*   color: rgba(131, 58, 180, 0.685); */
    color: rgba(255, 255, 255, 0.767);
    font-variant: small-caps;
    background-color: rgba(63, 94, 251, 0.74);
    border-radius: 15%;
    max-width: 32ch;
    box-shadow: 1px 1px 2px rgb(131,58,180);
}


#item2-list #child-ul {
    background-color: rgba(63, 94, 251, 0);
    box-shadow: none;
}

#item2-list .img-container {
    margin-top: 2rem;

}

#item3-desc {
    background-color: rgb(164, 235, 235);
    background-color: rgba(63, 94, 251, 0.658);
    background: linear-gradient(140deg, rgba(63, 94, 251, 0.658) 0%, rgba(63, 94, 251, 0.24) 70%);
    grid-column-start: 4;
    grid-row-start: 2;
    align-content: center;
    font-size: small;
    font-weight: 5;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: justify;
    justify-items: center;
}

#item3-desc p {
    justify-self: center;
    line-height: 2;
    color: rgb(22, 46, 163);
}

#item3-desc img {
    justify-self: center;
    justify-content: center;
    padding-top: 0.5rem;
}

#item4-footer {
    background-color: rgb(6, 15, 59);
    background: linear-gradient(0deg, rgba(131,58,180,1) 0%, rgba(63,94,251,1) 70%);
    grid-column-start: 3;
    grid-column-end: span 2;
 /*   padding-top: 1rem; */
    padding-left: 8rem;
    border-bottom-right-radius: 25px;
    font-size: small;
    color: white;
}

#item5-img {
    grid-column-start: 3;
    grid-row-start: 2;
    background-color: rgb(63,94,251);

}

#item5-img img {
    align-self: center;  /* this isnt doing anything, so I wrapped it in a border the same colour as the section below. if you can't beat 'em, join 'em */
    border-style: solid;
    border-color: rgb(63,94,251);
}


/* section 3 */


/* section 4 */


/* section 5 */


/* -------------------- footer here ------------ */

